{% extends '../layout.html' %}
{% block main_content %}

<h4>Índice de Contenido</h4>
<ol>
    <li><a href="#download-model">Descargar un modelo desde Galapagos</a></li>
    <li><a href="#upload-model">Subir un modelo</a></li>
    <li><a href="#view-models">Listar los modelos disponibles</a></li>
    <li><a href="#delete-model">Eliminar un modelo</a></li>
    <li><a href="#new-session">Crear una nueva sesión de simulación</a></li>
    <li><a href="#join-session">Unirse a una sesión de simulación existente</a></li>
    <li><a href="#view-galapagos-install">Ver información de instalación de Galapagos</a></li>
    <li><a href="#view-nodetortoise-install">Ver información de instalación de NodeTortoise</a></li>
</ol>

<div>
    <div>
        <h4><a name="download-model">Descargar un modelo desde Galapagos</a></h4>
        <p>Para descargar un modelo desde Galapagos, usted debe:</p>
        <ul>
            <li>
                Ingresar a la <a href="http://li425-91.members.linode.com:9000/create-standalone">página de generación de modelos</a> de Galapagos
                <img src="/img/user-doc/download-model-01.PNG" alt="Pagina de Generación de Modelos de Galapagos" />
            </li>
            <li>Subir o seleccionar un modelo de la lista</li>
        </ul>
    </div>
    <h4><a name="upload-model">Subir un modelo</a></h4>
    <h4><a name="view-models">Listar los modelos disponibles</a></h4>
    <h4><a name="delete-model">Eliminar un modelo</a></h4>
    <h4><a name="new-session">Crear una nueva sesión de simulación</a></h4>
    <h4><a name="join-session">Unirse a una sesión de simulación existente</a></h4>
    <h4><a name="view-galapagos-install">Ver información de instalación de Galapagos</a></h4>
    <h4><a name="view-nodetortoise-install">Ver información de instalación de NodeTortoise</a></h4>
</div>

{% endblock %}