{% extends '../layout.html' %}
{% block main_content %}
<h3>NetLogo-Web</h3>
<p>
    NetLogo Web es la reimplementación de NetLogo para ser utilizado desde un navegador web, utilizando 
    JavaScript y HTML. El principal objetivo es reemplazar la tecnología basada en applets, los 
    cuales no funcionan en dispositivos móviles y son una tecnología obsoleta (Bertsche, 2015). 
    NetLogo Web fue conformado como proyecto en el 2015, ya que la primera revisión en GitHub 
    data del 17 de junio del 2015; previo a estas fechas, se manejaban dos proyectos 
    independientes: Galapagos y Tortoise. 
</p>
<p>&nbsp;</p>
<h3>Galapagos / Tortoise</h3>
<p>
    Galapagos y Tortoise son dos proyectos de código abierto, que cuenta con el apoyo 
    de Northwestern University y forman parte del proyecto NetLogo (Bertsche, 2012). 
    Tortoise convierte los AST de NetLogo a código JavaScript y provee un motor de 
    simulación basado en CoffeeScript/Javascript (Bertsche, 2015). Por su parte 
    Galapagos proporciona el servidor web donde se aloja Tortoise y es el que lo hace funcionar (Bertsche, 2015). 
    Actualmente estos proyectos se integraron dentro del proyecto NetLogo Web.  
</p>
<p>&nbsp;</p>
<h3>Referencias</h3>
<ul>
    <li>Bertsche, Jason. 2012. NetLogo/HubNet-Web-Extension. Recuperado el 28 de octubre de 2014 de <a href="https://github.com/NetLogo/Galapagos/wiki">https://github.com/NetLogo/Galapagos/wiki</a></li>
    <li>Bertsche, Jason. 2015. NetLogo/HubNet-Web-Extension. Recuperado el 26 de junio de 2015 de <a href="https://github.com/NetLogo/NetLogo/wiki/NetLogo-Web">https://github.com/NetLogo/NetLogo/wiki/NetLogo-Web</a></li>
</ul>
{% endblock %}